// Variables
@import "variables.less";
 
// Mixins
@import "mixins.less";

// Typo
@import "typo.less";

body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    line-height: 16px;
    font-weight: normal;
    font-style: normal;

    margin: 10px;

    img {
    	max-width: 100%;
    	height: auto;
    }

    img.wp-more-tag, img.mce-wp-more {
        max-width: initial;
        max-width: none;
        height: 16px;
    }

    p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    blockquote {
        .font-size(14);
        
        padding: 15px;

        background     : #c1d6e8;
        border         : none;
        margin: 0;

        p {

            &:last-of-type, &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // ==========================================================================
    //   Wordpress Rules
    // ==========================================================================
    a img {
        &.alignright {
            float: right; 
            margin: 0px 0 5px 15px; 
        }

        &.alignnone {
            margin: 0px 0px 0px 0; 
        }

        &.alignleft {
             float: left; 
             margin: 0px 15px 5px 0;
        }

        &.aligncenter {
            display: block; 
            margin-left: auto; 
            margin-right: auto;
        }
    }
    .alignnone { 
        margin: 0px 0px 0px 0; 
    }
    .aligncenter, 
    div.aligncenter { 
        display: block; 
        margin: 5px auto 5px auto; 
    }
    .alignright { 
        float:right; 
        margin: 0px 0 5px 15px; 
    }
    .alignleft { 
        float: left; 
        margin: 0px 15px 5px 0; 
    }
    .aligncenter { 
        display: block; 
        margin: 0px auto 5px auto; 
    }
    .wp-caption { 
        background: #fff; 
        border: 1px solid #f0f0f0;
        max-width: 96%; 
        padding: 0px 0px 15px; 
        text-align: center; 

        &.alignnone {
            margin: 5px 0px 0px 0;
        }

        &.alignleft {
            margin: 5px 15px 5px 0;
        }

        &.alignright {
            margin: 5px 0 5px 15px;
        }

        img {
            border: 0 none; 
            height: auto; 
            margin: 0; 
            max-width: 98.5%; 
            padding: 0; 
            width: auto;
        }

        p.wp-caption-text {
            font-size: 11px; 
            line-height: 17px; 
            margin: 0; 
            padding: 0 4px 5px;
        }
    }
}




body#tinymce.wp-editor a {
    color: #4CA6CF;
}