
// ==========================================================================
//   Footer
// ==========================================================================
.footer {
    position       : relative;
    display        : block;

    margin-top     : 30px;
    padding-top    : 30px;
    padding-bottom : 30px;

    background     : @nightRider;
    color          : #b0b0b0;

    a {
        color : #b0b0b0;
        &:hover {
            color : @white;
        }
    }
}

// ==========================================================================
//   Copyright
// ==========================================================================
.copyright {
    .font-size(14);

    padding    : 15px 0;

    background : #202020;
    color      : @white;

    a {
        color : @white;
        &:hover {
            color : @danube;
        }
    }

    .copy-text {
        position      : relative;
        display       : block;

        margin-bottom : 10px;

        font-weight   : 700;
        text-align    : center;
    }

    .dev-theme {
        .font-size(12);

        position   : relative;
        display    : block;

        color      : #575757;
        text-align : center;
    }
}

//   Small devices (tablets, 992px and up)
// ==========================================================================
@media (min-width: @screen-md-min) {
    // ==========================================================================
    //   Copyright
    // ==========================================================================
    .copyright {
        .copy-text {
            float         : left;

            margin-bottom : 0;

            text-align    : left;
        }
        .dev-theme {
            float      : right;
            text-align : left;
        }
    }
}