
// ==========================================================================
//   Header
// ==========================================================================
.header {
    position      : relative;
    display       : block;
    z-index       : 10;

    height        : 84px;
    padding-top   : 15px;

    background    : #262626;
    background    : -moz-linear-gradient(top, #262626 0%, #4d4d4d 100%);
    background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #4d4d4d));
    background    : -webkit-linear-gradient(top, #262626 0%, #4d4d4d 100%);
    background    : -o-linear-gradient(top, #262626 0%, #4d4d4d 100%);
    background    : -ms-linear-gradient(top, #262626 0%, #4d4d4d 100%);
    background    : linear-gradient(to bottom, #262626 0%, #4d4d4d 100%);
    box-shadow    : 0px 2px 0px rgba(0, 0, 0, .13);

    .container {
        position : relative;
    }
}

//   Logo Header
// ==========================================================================
.logo-header {
    position  : relative;
    display   : block;
    left      : -17.5px;

    max-width : 200px;
    margin    : auto;
}

// ==========================================================================
//   Breadcrumb and text
// ==========================================================================
.bg-breadcrumb {
    position       : relative;
    display        : block;

    max-width      : 1002px;
    margin         : auto;
    padding-top    : 5px;
    padding-bottom : 5px;

    background     : @white;
    border-right   : 1px solid #c3c3c3;
    border-left    : 1px solid #c3c3c3;
}

.breadcrumb {
    position : relative;
    display  : block;

    padding  : 5px 0;

    font-family: 'arial', sans-serif;

    a {
        font-weight : 700;
        color       : @nightRider;
    }
}

// ==========================================================================
//   Ads Header
// ==========================================================================
.section-ads-header {
    position : relative;
    display  : block;
}

.bg-ads {
    position       : relative;
    display        : block;

    max-width      : 1002px;
    margin         : auto;
    padding-top    : 5px;
    padding-bottom : 5px;

    background     : #e8e8e8;
    border-right   : 1px solid #c3c3c3;
    border-left    : 1px solid #c3c3c3;
}

.ads-header {
    position   : relative;
    display    : block;

    text-align : center;
}

//   Small devices (tablets, 768px and up)
// ==========================================================================
@media (min-width:@screen-sm-min) {
    // ==========================================================================
    //   Header
    // ==========================================================================
    .header {
        padding-top : 10px;
    }
    //   Logo Header
    // ==========================================================================
    .logo-header {
        float        : left;
        left         : none;

        max-width    : none;
        margin       : auto;
        margin-right : 15px;
    }
}