
.collapsing {
    -webkit-transition : none;
    transition         : none;
}

// ==========================================================================
//   Geral
// ==========================================================================
* {
    .borderbox();
    &:before, &:after {
        .borderbox();
    }
}

html {
    font-size              : 100%;

    text-rendering         : optimizeLegibility;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing    : antialiased;
    font-smoothing         : antialiased;
}

//   Responsive Images
// ==========================================================================
img {
    height    : auto;
    max-width : 100%;
}

//   Inputs
// ==========================================================================
input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], select, textarea {
    &:focus {
        outline : none;
    }
}

//   Transicao
// ==========================================================================
a, input {
    .transicao();
}

//   heading
// ==========================================================================
.title-heading {
    .font-size(16);

    position      : relative;
    display       : block;

    margin-bottom : 10px;

    font-weight   : 700;
}

// ==========================================================================
//   Wordpress Rules
// ==========================================================================
a img {
    &.alignright {
        float  : right;
        margin : 0px 0 5px 15px;
    }

    &.alignnone {
        margin : 0px 0px 0px 0;
    }

    &.alignleft {
        float  : left;
        margin : 0px 15px 5px 0;
    }

    &.aligncenter {
        display      : block;

        margin-right : auto;
        margin-left  : auto;
    }
}

.alignnone {
    margin : 0px 0px 0px 0;
}

.aligncenter, div.aligncenter {
    display : block;
    margin  : 5px auto 5px auto;
}

.alignright {
    float  : right;
    margin : 0px 0 5px 15px;
}

.alignleft {
    float  : left;
    margin : 0px 15px 5px 0;
}

.aligncenter {
    display : block;
    margin  : 0px auto 5px auto;
}

.wp-caption {
    max-width  : 96%;
    padding    : 0px 0px 15px;

    background : #fff;
    text-align : center;
    border     : 1px solid #f0f0f0;

    &.alignnone {
        margin : 5px 0px 0px 0;
    }

    &.alignleft {
        margin : 5px 15px 5px 0;
    }

    &.alignright {
        margin : 5px 0 5px 15px;
    }

    img {
        height    : auto;
        width     : auto;
        max-width : 98.5%;
        margin    : 0;
        padding   : 0;

        border    : 0 none;
    }

    p.wp-caption-text {
        margin      : 0;
        padding     : 0 4px 5px;

        font-size   : 11px;
        line-height : 17px;
    }
}

// ==========================================================================
//   Body
// ==========================================================================
body {
    .roboto();
    .font-size(12);

    margin     : 0;
    padding    : 0;

    background : @body-background-color;

    a, a:focus, a:hover {
        text-decoration : none;
    }
}

// ==========================================================================
//   Wrap
// ==========================================================================
.bg-wrap {
    .radius(0 0 3px 3px);

    position       : relative;
    display        : block;

    max-width      : 1002px;
    margin         : auto;
    padding-top    : 10px;
    padding-bottom : 10px;

    background     : @white;
    border         : 1px solid #c3c3c3;
    border-top     : none;
}

// ==========================================================================
//   Left Content
// ==========================================================================
.left-content {
    margin-top    : 10px;
    margin-bottom : 30px;
}

// ==========================================================================
//   Entry
// ==========================================================================
.entry {
    .font-size(12);

    font-family : 'arial', verdana, serif;
    line-height : 125%;

    // line-height: 14px;
    // paragraph
    p {
        margin : 0px 0 10px 0;
    }

    // blockquote
    blockquote {
        .font-size(12);

        padding-top    : 15px;
        padding-bottom : 15px;

        background     : #c1d6e8;
        line-height    : 125%;
        border         : none;

        p {
            &:first-of-type, &:first-child {
                margin-top : 0;
            }
        }
    }

    .more-link {
        .font-size(14);

        display     : inline-block;

        font-weight : 700;
    }

    // contact form
    input[type="text"], input[type="date"], input[type="url"], input[type="email"], textarea, select {
        .font-size(14);

        width         : 100%;
        margin-bottom : 10px;
        padding       : 10px;

        font-weight   : 300;
        border        : 1px solid @danube;
    }

    input[type="submit"] {
        .font-size(12);

        float      : right;

        width      : 40%;
        padding    : 8px 10px;

        background : #202020;
        color      : @white;
        border     : 1px solid #202020;

        &:hover {
            background-color : @black;
        }
    }

    textarea {
        resize : vertical;
        height : 100px;
    }

    // gravity form
    div.wpcf7-response-output {
        margin : 20px 0 0 0;
    }

    // alert
    span.wpcf7-not-valid-tip {
        .font-size(12);

        position   : relative;
        display    : inline-block;
        top        : -10px;

        padding    : 3px 10px;

        background : red;
        color      : @white;
    }

    a {
        &:hover {
            text-decoration : underline;
        }
    }
}

// ==========================================================================
//   Pagenavi
// ==========================================================================
.pagenavi {
    position      : relative;
    display       : block;

    margin-top    : 40px;
    margin-bottom : 40px;

    text-align    : center;

    .pages {
        .font-size(14);

        margin-right : 10px;

        font-weight  : 300;
    }
    .page-numbers {
        .font-size(16);

        padding     : 2px 5px;

        font-weight : 700;
        border      : 1px solid @gainsboro;

        &.current {
            color        : @grey;
            border-color : @grey;
        }
    }
}

/* ==========================================================================
   Collapse Séries
   ========================================================================== */
.series-panel {
    margin-top : 20px;
    /* Panel
       ========================================================================== */
    .panel {
        border     : none;
        box-shadow : none;
    }
}

/* Heading
   ========================================================================== */
.series-panel-heading {
    .roboto(500);
    letter-spacing : .050em;

    a {
        .radius(3px 3px 0px 0px);

        position   : relative;
        display    : block;

        padding    : 10px 15px;

        background : @danube;
        border     : 1px solid @danube;

        &:hover {
            text-decoration : none;
        }

        &:after {
            content     : '\f107';

            position    : absolute;
            display     : block;
            top         : 10px;
            right       : 15px;

            font-family : 'fontawesome', arial, serif;
        }

        &.collapsed {
            .radius(3px);

            background : @white;
            color      : @grey;
            border     : 1px solid #dfdfdf;

            &:after {
                content : '\f106';
            }
        }
    }
}

/* Panel title
   ========================================================================== */
.series-panel-title {
    margin  : 0;
    padding : 0;

    a {
        color : @white;
    }
}

/* Panel body
   ========================================================================== */
.series-panel-content {
    padding    : 15px 15px;

    border     : 1px solid #dfdfdf;
    border-top : none;

    p {
        &:last-of-type, &:last-child {
            margin-bottom : 0;
        }
    }
}