// ==========================================================================
//   Border box
// ==========================================================================
.borderbox() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


// ==========================================================================
//   Radius
// ==========================================================================
.radius(@radius){
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}


// ==========================================================================
//   Transição
// ==========================================================================
.transicao(@seg: 0.2s) {
	-moz-transition: all @seg ease-in-out;
	-ms-transition: all @seg ease-in-out;
	-o-transition: all @seg ease-in-out;
	-webkit-transition: all @seg ease-in-out;
	transition: all @seg ease-in-out;
}


// ==========================================================================
//   Zoom
// ==========================================================================
.scale(@scale: 1.1) {
	-moz-transform: scale(@scale,@scale);
	-ms-transform: scale(@scale,@scale);
	-o-transform: scale(@scale,@scale);
	-webkit-transform: scale(@scale,@scale);
	transform: scale(@scale,@scale);
}

// ==========================================================================
//   Rotate
// ==========================================================================
.rotate(@deg: 0deg) {
	-moz-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}


// ==========================================================================
//   Grayscale
// ==========================================================================
.gray_enable() {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.gray_disable() {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    filter:none;
}



// ==========================================================================
//   Spin
// ==========================================================================
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.spin() {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;


    
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


// ==========================================================================
//   Font Size
// ==========================================================================
.font-size(@size:16) {
	font-size: (@size / 16) + 0rem;
}