
/** 
// ==========================================================================
//   SF Menu Essentials
// ==========================================================================
**/
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin     : 0;
    padding    : 0;

    list-style : none;
}

.sf-menu li {
    position : relative;
}

.sf-menu ul {
    position : absolute;
    display  : none;
    top      : 100%;
    left     : 0;
    z-index  : 999;
}

.sf-menu > li {
    float : left;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
    display : block;
}

.sf-menu a {
    position : relative;
    display  : block;
}

.sf-menu ul ul {
    top  : 0;
    left : 100%;
}

/** 
// ==========================================================================
//   Navegação Header
// ==========================================================================
**/
//   Hide Itens 
// ==========================================================================
#nav-main {
    display : none;
}

//   Responsive itens 
// ==========================================================================
//   Trigger Menu 
// ==========================================================================
#nav-trigger {
    .font-size(30);

    position    : absolute;
    top         : 25px;
    right       : 10px;
    z-index     : 100;

    color       : #fff;
    line-height : initial;

    span {
        cursor : pointer;

        .fa-close {
            .transicao();
            display : none;
        }
       //   Trigger opened 
       // ==========================================================================
        &.open {
            .fa-close {
                .spin();
                display : inline-block;
            }
            .fa-navicon {
                display : none;
            }
        }
    }
}

//   Nav Mobile 
// ==========================================================================
#nav-mobile {
    position   : absolute;
    z-index    : 50;

    overflow   : hidden;
    width      : 100%;

    background : #4d4e53;

    ul {
        position   : relative;
        display    : none;

        width      : initial;
        margin     : 0;
        padding    : 10px 0;

        list-style : none;

        li {
            position : relative;
            display  : block;
            float    : none;

            width    : initial;
            padding  : 6px 0;
            width: 100%;
            border-bottom: 1px solid rgba(0,0,0,.3);

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 100%;
                background: rgba(255,255,255,.1);
            }
        }

        ul {
            position : initial;

            margin   : 0;
            padding  : 0;

            li {
                padding    : 3px 0 3px 20px;
                background : url(images/sub-menu.png) no-repeat 5px 5px;
                border: none;

                &:after {
                    display: none;
                }

                a {
                    color: #ccc;
                }
            }
        }
    }

    a {
        display : initial;
        color   : #fff;
    }

    //   Mega menu 
    // ==========================================================================
    .megamenu {
        
        >.sub-menu {
            margin-top: 3px;
        }

        // Primeiras listas 
        >ul {
            overflow: hidden;

            // primeiro item da primeira lista
            >li {
                float: left;
                width: 100%;
                background: none;
                padding-left: 0;
                z-index: 100;

                &:before {
                    content: '';
                    clear: both;
                    display: block;
                    position: relative;
                    float: none;
                }
                
                // links
                a {
                    color: #ccc;
                }

                // demais listas
                ul {
                    margin-bottom: 5px;

                    // demais item listas
                    li {
                        margin: 0;
                        padding    : 3px 0 3px 0px;
                        background: none;
                        white-space: nowrap;


                        &:first-of-type {
                            margin-top: 3px;
                        }
                    }
                }
            }
        }

        // cols
        &.col-2 {
            >ul {
                width : 100%;
            }
            li {
                width : 50%;
                li {
                    width: 100%;
                }
            }
        }

        &.col-3 {
            >ul {
                width : 100%
            }
            li {
                width : 33.333333%;
            }
        }

        &.col-4 {
            >ul {
                width : 100%
            }
            li {
                width : 25%;
            }
        }
    }

}

@media (min-width: @screen-md-min) {
    //   Responsive itens 
    // ==========================================================================
    #nav-trigger {
        display : none;
    }

    // ==========================================================================
    //   Main Menu
    // ==========================================================================
    #nav-main {
        display : block;
    }

    //   Navigation top 
    // ==========================================================================
    .navigation-top {
        //   Links 
        // ==========================================================================
        a {
            color : @white;
        }

        // First Links
        >ul {
            margin     : 15px 0 0 0;
            padding    : 0;

            list-style : none;

            >li {
                .font-size(12);

                position       : relative;
                float          : left;

                margin         : 0 0px 0 0;
                padding        : 10px 7px 10px 7px;

                text-transform : uppercase;
                border-right   : 1px solid #585858;
                list-style     : none;

                // link
                a {
                    padding-bottom : 5px;
                    border-bottom  : 2px solid transparent;
                }

                // first
                &:first-of-type, &:first-child {
                    padding-left : 0;
                }

               // last
                &:last-of-type, &:last-child {
                    padding-right : 0;
                    border-right  : none;
                }

                // menu has children
                &.menu-item-has-children {
                    >a {
                        &:after {
                            content     : '\f107';

                            margin-left : 5px;

                            font-family : 'fontawesome', arial, serif;
                        }
                    }
                }

                // hover
                &:hover {
                    >a {
                        padding-bottom : 5px;
                        border-bottom  : 2px solid #0070d6;
                    }
                    >ul {
                        display : block;
                    }
                }

                // First sub menu
                >ul {
                    position   : absolute;
                    display    : none;
                    right      : -1000%;
                    left       : -1000%;
                    z-index    : 100;

                    width      : 260px;
                    margin     : auto;
                    margin-top : 15px;
                    padding    : 10px 0;

                    background : @white;
                    border     : 1px solid #ddd;

                    &:before {
                        content    : '';

                        position   : absolute;
                        display    : block;
                        top        : -10px;
                        right      : 0;
                        left       : 0;

                        height     : 10px;
                        width      : 100%;
                        margin     : auto;

                        background : url("images/arrow-up-menu.png") no-repeat center bottom;
                    }
                }
            }
        }

        // Sub links
        ul ul {
            .font-size(14);

            padding     : 0;

            font-family : 'arial', verdana, serif;
            list-style  : none;

            li {
                margin         : 0;
                padding        : 0;

                line-height    : 1em;
                text-transform : none;
                list-style     : none;

                a {
                    display : block;

                    padding : 7px 15px;

                    color   : #666;

                    &:hover {
                        background-color : #f3f6f6;
                    }
                }
            }
        }

        //   Mega Menu CSS 
        // ==========================================================================
        .megamenu {
            >ul {
                right      : -1000%;
                left       : -1000%;

                width      : 260px;
                margin     : auto;
                margin-top : 15px;

                &:before {
                    content    : '';

                    position   : absolute;
                    display    : block;
                    top        : -10px;
                    right      : 0;
                    left       : 0;

                    height     : 10px;
                    width      : 100%;
                    margin     : auto;

                    background : url("images/arrow-up-menu.png") no-repeat center bottom;
                }
            }

            li {
                float : left;
                width : 100%;

                li {
                    width : 100% !important;
                }
            }

            // cols
            &.col-2 {
                >ul {
                    width : 337px;
                }
                li {
                    width : 50%;
                }
            }

            &.col-3 {
                >ul {
                    width : 452px;
                }
                li {
                    width : 33.333333%;
                }
            }

            &.col-4 {
                >ul {
                    width : 602px;
                }
                li {
                    width : 25%;
                }
            }
        }
    }
}