
// ==========================================================================
//   ARticle
// ==========================================================================
.article-default {
    position      : relative;
    display       : block;

    margin-bottom : 20px;

    border-bottom : 1px solid @gainsboro;

    &:last-of-type, &:last-child {
        margin-bottom : 0;
        border-bottom : 0;

        .footer-article {
            padding-bottom : 0;
        }
    }
}


.article-single {
    margin-bottom : 20px;
}

//   Header article 
// ==========================================================================
.header-article {
    position      : relative;
    display       : block;

    margin-bottom : 20px;
}

// name article
.name-article {
    .font-size(20);

    position      : relative;
    display       : block;

    margin        : 0;
    margin-bottom : 5px;
    padding       : 0;

    font-weight   : 700;
    color         : @grey;

    a {
        color : @grey;
        &:hover {
            color : @links-color-hover;
        }
    }
}

// infos article
.infos-article {
    position : relative;
    display  : block;

    // rating article
    .rating-article {
        .font-size(11);

        position     : relative;
        display      : block;
        float        : left;

        margin-right : 10px;
    }
   // categories
    .categories-article {
        .font-size(11);

        position : relative;
        display  : block;
        float    : left;

        .fa {
            margin-right : 3px;
            color: #8f8f8f;
        }
        a {
            color : @links-color-hover;
            &:hover {
                color : @links-color;
            }
        }
    }
}


// Categories single
.categories-single {
    .font-size(11);
    margin-top: 20px;

    .fa {
        color: #8f8f8f;
    }
}



//   Footer Article 
// ==========================================================================
.footer-article {
    position       : relative;
    display        : block;

    margin-top: 10px;

    padding-bottom : 20px;
}

// sharer article
.sharer-article {
    position : relative;
    display  : block;

    // text sharer
    .text-sharer-article {
        .font-size(14);

        position      : relative;
        display       : block;

        margin-bottom : 5px;

        font-weight   : 500;
        text-align    : center;

        .fa {
            color: #8f8f8f;
        }
    }
    // buttons sharer
    .buttons-sharer-article {
        position   : relative;
        display    : block;

        text-align : center;

        .btn-share {
            display        : inline-block;
            vertical-align : top;

            margin         : 0 10px 0 0px;
        }
    }
}

.footer-article-single {
    .font-size(16);

    margin-top: 10px;

    padding       : 15px 0;

    border-top    : 1px solid #e8e8e8;
    border-bottom : 1px solid #e8e8e8;

    a {
        text-decoration : underline;
    }
}



// ==========================================================================
//   Relatório
// ==========================================================================
.form-relatorio {
    margin-top: 10px;
    display: none;

    input[type="text"], input[type="date"], input[type="url"], input[type="email"], textarea, select {
        width: 100%;
        border: 1px solid @danube;
        padding: 10px;
        .font-size(14);
        font-weight: 300;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        .font-size(12);

        float      : right;

        width      : 40%;
        padding    : 8px 10px;

        background : #202020;
        color      : @white;
        border     : 1px solid #202020;

        &:hover {
            background-color : @black;
        }
    }

    textarea {
        height: 100px;
        resize: vertical;
    }
    
    // gravity form
    div.wpcf7-response-output {
        margin: 20px 0 0 0;
    }

    // alert
    span.wpcf7-not-valid-tip {
        .font-size(12);
        background: red;
        color: @white;
        display: inline-block;
        padding: 3px 10px;
        top: -10px;
        position: relative;
    }
}


// ==========================================================================
//   Ads Acima Relacionados
// ==========================================================================
.ads-related {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    text-align: center;
}


// ==========================================================================
//   Relacionados
// ==========================================================================
.relacionados {
    position      : relative;
    display       : block;

    margin-bottom : 40px;
}

.thumb-related {
    position   : relative;
    display    : block;

    overflow   : hidden;
    height     : 100px;

    background : #e8e8e8;
    text-align : center;

    img {
        position : absolute;
        top      : 0;
        right    : 0;
        bottom   : 0;
        left     : 0;

        width    : auto;
        margin   : auto;
    }
}

.title-related {
    .font-size(14);

    position    : relative;
    display     : block;

    margin-top  : 10px;

    font-weight : 700;
    text-align  : center;
}

//   Small devices (tablets, 480px and up)
// ==========================================================================
@media (min-width: @screen-xs-b-min) {
    //   Footer Article 
    // ==========================================================================
    .sharer-article {
        // text sharer
        .text-sharer-article {
            float        : left;
            margin-right : 10px;
        }
        // buttons sharer
        .buttons-sharer-article {
            float : left;
        }
    }
    // ==========================================================================
    //   Relacionados
    // ==========================================================================
    .thumb-related {
        height : 125px;
    }
}