
// ==========================================================================
//   Sidebar Default
// ==========================================================================
.sidebar {
    position  : relative;
    display   : block;

    max-width : 300px;
    margin    : auto;

    //   Default list 
    // ==========================================================================
    >ul {
        margin     : 0;
        padding    : 0;

        list-style : none;

        >li {
            margin     : 0;
            padding    : 0;

            list-style : none;
        }
    }
    //   Widget 
    // ==========================================================================
    .widget {
        margin-bottom : 30px;
    }
}

.sidebar-small {
    position  : relative;
    display   : block;

    max-width : 300px;
    margin    : auto;
}

// ==========================================================================
//   Siebars Footer
// ==========================================================================
.sidebar-footer {
    position  : relative;
    display   : block;

    max-width : 300px;
    margin    : auto;

    //   Default list 
    // ==========================================================================
    >ul {
        margin     : 0;
        padding    : 0;

        list-style : none;

        >li {
            margin     : 0;
            padding    : 0;

            list-style : none;
        }
    }

    //   Title 
    // ==========================================================================
    .widgettitle {
        .font-size(18);

        margin      : 0 0 15px 0;
        padding     : 0;

        font-weight : 300;
        color       : @white;

        .fa {
            .font-size(28);

            vertical-align : middle;

            margin-top     : -5px;
        }
    }

    //   Widget 
    // ==========================================================================
    .widget {
        margin-bottom : 30px;
    }
}

//   Last  
// ==========================================================================
.sidebar-footer-last {
    .widget {
        &:last-of-type, &:last-child {
            margin-bottom : 0;
        }
    }
}

//   Small devices (tablets, 768px and up)
// ==========================================================================
@media (min-width: @screen-sm-min) {
    // ==========================================================================
    //   Sidebar Footer
    // ==========================================================================
    .sidebar-footer {
        //   Widget 
        // ==========================================================================
        .widget {
            &:last-of-type, &:last-child {
                margin-bottom : 0;
            }
        }
    }
}