/*

    Theme Name: Só Baixar
    Theme URI: http://www.foxtemas.com.br
    Description: Template desenvolvido por <a href="http://www.foxtemas.com.br">Fox Temas</a> Templates para WordPress
    Version: 1.2.1
    Author: Fox Temas Team
    Author URI: http://www.foxtemas.com.br

    Número do projeto : 0317

*/


/*

    // ==========================================================================
    //   Contents
    // ==========================================================================

    1. Miscellanous
        - Variables
        - Mixins
        - Misc
    2. Navigation
    3. Header
    4. Posts
    5. Pages
    6. Sidebar
    7. Widgets
    8. Footer
*/

//   1. Miscellanous
// ==========================================================================

// Variables
@import "variables.less";

// Mixins
@import "mixins.less";

// Typo
@import "typo.less";

// Misc
@import "misc.less";


//   2. Navigation
// ==========================================================================

@import "navigation.less";


//   3. Header
// ==========================================================================

@import "header.less";


//   4. Posts
// ==========================================================================

@import "posts.less";


//   5. Pages
// ==========================================================================

@import "pages.less";


//   6. Sidebar
// ==========================================================================

@import "sidebar.less";


//   7. Widgets
// ==========================================================================

@import "widgets.less";


//   8. Footer
// ==========================================================================

@import "footer.less";