// Roboto
@import url("http://fonts.googleapis.com/css?family=Roboto:100,100italic,400,400italic,700,700italic,500italic,500,300italic,300");

.roboto(@weight: 400) {
    font-family: 'roboto', arial, sans-serif;
    font-weight: @weight;
}