//   Colors 
// ==========================================================================
@black: #000000;
@white: #ffffff;
@nightRider: #333333;
@curiousBlue: #387ab2;
@danube: #5CA1C3;
@grey: #777777;
@gainsboro: #e8e8e8;



//   Content 
// ==========================================================================
@body-background-color: @gainsboro  ;
@body-color: @nightRider ;


//   Links 
// ==========================================================================
@links-color: @curiousBlue ;
@links-color-hover: @danube ;


//   Breakpoints 
// ==========================================================================
@screen-xs-b-min:480px; // mobile 480px
@screen-sm-min:768px; // tablets 750px
@screen-md-min:992px; // desktop min 970px 
@screen-lg-min:1200px; // desktop 1030px