
// ==========================================================================
//   Geral
// ==========================================================================
.screen-reader-text {
    display : none;
}

//   Title 
// ==========================================================================
.widgettitle {
    .font-size(16);

    margin      : 0 0 10px 0;
    padding     : 0;

    font-weight : 400;
    color       : @body-color;

    .fa {
        .font-size(28);

        vertical-align : middle;

        margin-top     : -5px;
        margin-right   : 3px;
    }
}

//   Content 
// ==========================================================================
.sidebar-content {
    .font-size(12);
    line-height : 14px;

    // Select
    select {
        .font-size(12);

        width   : 100%;
        padding : 10px;

        border  : 1px solid @gainsboro;
    }

    // forms
    input[type="text"] {
        .font-size(12);

        width   : 100%;
        padding : 10px;

        border  : 1px solid @gainsboro;
    }

    input[type="submit"] {
        display    : block;

        min-width  : 100px;
        margin     : auto;
        margin-top : 10px;
        padding    : 10px;

        background : @danube;
        color      : @white;
        border     : none;

        &:hover {
            background-color : @curiousBlue;
        }
    }

    //   List 
    // ==========================================================================
    ul {
        margin     : 0;
        padding    : 0;

        list-style : none;

        li {
            margin-bottom : 5px;
            padding       : 0;

            list-style    : none;

            &:before {
                content      : '';

                display      : inline-block;

                height       : 9px;
                width        : 9px;
                margin-right : 4px;

                background   : url('images/arrow.png') no-repeat center top;
            }
            ul {
                margin-top  : 4px;
                margin-left : 13px;
            }
        }
    }
}

// sidebar content rodape
.sidebar-footer {
    .sidebar-content {
        ul {
            margin     : 0;
            padding    : 0;

            list-style : none;

            li {
                .font-size(14);

                position      : relative;

                margin        : 0;
                padding       : 5px 0 7px 0;

                border-bottom : 1px solid rgba(0, 0, 0, .1);
                list-style    : none;

                &:after {
                    content    : '';

                    position   : absolute;
                    display    : block;
                    bottom     : 0px;

                    height     : 1px;
                    width      : 100%;

                    background : rgba(255, 255, 255, .1);
                }
                &:before {
                    display : none;
                }
            }
        }
    }
}

// ==========================================================================
//   Widget Feedburner
// ==========================================================================
.widget_feedburner {
    .sidebar-content {
        .font-size(12);
    }
}

.form-feedburner {
    position   : relative;
    display    : block;

    margin-top : 10px;

    .campo_feed {
        .font-size(12);

        overflow     : hidden;
        width        : 60%;
        padding      : 8px 10px;

        background   : @white;
        color        : @grey;
        border       : 1px solid #dfdfdf;
        border-right : none;
    }
    .botao_feed {
        .font-size(12);

        float      : right;

        width      : 40%;
        padding    : 8px 10px;

        background : #202020;
        color      : @white;
        border     : 1px solid #202020;

        &:hover {
            background-color : @black;
        }
    }
}

// ==========================================================================
//   Widget Calendar
// ==========================================================================
#wp-calendar {
    width      : 100%;
    text-align : center;

    caption {
        width          : 100%;

        font-weight    : 700;
        text-align     : right;
        text-transform : uppercase;
    }

    thead {
        tr {
            th {
                padding    : 10px;
                text-align : center;
            }
        }
    }

    tbody {
        tr {
            td {
                padding : 10px;
            }
        }
    }
}

// ==========================================================================
//   Tags
// ==========================================================================
.tagcloud {
    a {
        .font-size(12) !important;

        display       : inline-block;
        float         : left;

        margin-right  : 3px;
        margin-bottom : 3px;
        padding       : 5px 10px;

        background    : @gainsboro;
    }
}

// ==========================================================================
//   Widget Search
// ==========================================================================
.searchform-foxtemas {
    position : relative;
    display  : block;

    // field pesquisa
    .pesquisa {
        .font-size(14);

        height        : 47px;
        width         : 100%;
        padding       : 10px;
        padding-right : 70px;

        font-style    : italic;
        font-weight   : 300;
        color         : @grey;
        border        : 1px solid #c3c3c3;

        &:focus {
            color : @body-color;
        }
    }
    // button
    .button-search {
        .font-size(26);
        .transicao();

        position   : absolute;
        top        : 0;
        right      : 0;

        height     : 47px;
        width      : 60px;

        background : #454545;
        color      : @white;
        text-align : center;
        border     : none;
        outline    : none;

        .fa {
            position    : relative;
            top         : -2px;

            line-height : 20px;
        }
        &:hover {
            background-color : @black;
        }
    }
}

// search footer
.widget-footer {
    .pesquisa {
        border : none;
    }
}

// ==========================================================================
//   Widget Top 10
// ==========================================================================
.item-top-10 {
    .radius(0);

    position       : relative;

    margin-bottom  : 0;
    padding-top    : 3px;
    padding-bottom : 3px;

    background     : none;
    border-bottom  : 1px solid #e8e8e8;
    box-shadow     : none;

    &:first-of-type, &:first-child {
        padding-top : 0;
    }
}

// Heading aberto
.open-top-10 {
    .num-top-10 {
        .font-size(16);

        display      : inline-block;
        float        : left;

        height       : 26px;
        width        : 26px;
        margin-right : 10px;
        padding-top  : 1px;

        font-weight  : 700;
        color        : #387ab2;
        text-align   : center;
        border       : 1px solid #eaeaea;
    }

    .name-heading {
        .font-size(14);

        display     : none;

        max-width   : 260px;
        margin-top  : 3px;

        font-weight : 700;
        color       : #387ab2;
    }

    // heading fechado
    &.collapsed {
        display : block;

        .num-top-10 {
            color : #484848;
        }
        .name-heading {
            display : inline-block;
        }
    }
}

// Expand content top 10
.expand-content-top-10 {
    .transicao();
    opacity : 0;

    &.in {
        opacity : 1;
    }
}

// content top 10
.content-top-10 {
    position       : relative;

    margin-top     : -26px;
    margin-left    : 35px;
    padding-bottom : 10px;
}

.thumb-top-10 {
    float        : left;

    margin-right : 10px;

    idth         : 75px;

    img {
        height : auto;
        width  : 75px;
    }
}

.details-top-10 {
    overflow : hidden;

    .name-top-10 {
        margin  : 5px 0 0 0;
        padding : 0;
    }

    .cats-top-10 {
        .font-size(11);

        position       : relative;
        display        : block;

        padding-bottom : 20px;

        color          : #737373;
    }

    .show-details-top-10 {
        .font-size(11);

        position       : absolute;
        bottom         : 10px;

        text-transform : uppercase;
    }
}

// Widget top 10 footer
.widget-footer {
    .item-top-10 {
        border-bottom : 1px solid rgba(0, 0, 0, .2);
        &:after {
            content    : '';

            position   : absolute;
            display    : block;
            bottom     : 0px;

            height     : 1px;
            width      : 100%;

            background : rgba(255, 255, 255, .1);
        }
    }
    .open-top-10 {
        .num-top-10 {
            background-color : #202020;
            color            : @white;
            border           : 1px solid #121212;
        }

        .name-heading {
            color : #b0b0b0;
        }

        &.collapsed {
            .num-top-10 {
                color : @grey;
            }
        }
    }
}

// ==========================================================================
//   Widget Destaques
// ==========================================================================
.item-destaque-widget {
    position      : relative;
    display       : block;

    margin-bottom : 10px;

    img {
        height : auto;
        width  : 100%;
    }

    &:last-child, &:last-of-type {
        margin-bottom : 0;
    }

    .name-destaque-widget {
        .transicao();

        position   : relative;
        display    : block;

        padding    : 4px 10px;

        background : #222222;
        color      : @white;

        a {
            position : relative;
            display  : block;

            color    : @white;
        }
    }

    &:hover {
        .name-destaque-widget {
            background-color : @danube;
        }
    }
}

// ==========================================================================
//   Widget Tabs
// ==========================================================================
.group, .tabBlock-tabs {
    &:after {
        content : "";

        display : table;
        clear   : both;
    }
}

.unstyledList, .tabBlock-tabs {
    margin     : 0;
    padding    : 0;

    list-style : none;
}

.tabBlock {
    margin : 0;
}

.tabBlock-tab {
    .font-size(12);

    position           : relative;
    display            : inline-block;
    float              : left;

    padding            : 5px 10px;

    cursor             : pointer;
    background-color   : #f2f2f2;
    font-weight        : 700;
    color              : @links-color;
    border             : 1px solid #f2f2f2;

    -webkit-transition : 0.1s ease-in-out;
    transition         : 0.1s ease-in-out;

    &.is-active {
        position         : relative;
        z-index          : 1;

        background-color : transparent;
        color            : @links-color;
    }
}

.tabBlock-content {
    padding-top : 10px;
}

.tabBlock-pane >:last-child {
    margin-bottom : 0;
}

// widget tabs footer
.widget-footer {
    .tabBlock-tab {
        background-color : #202020;
        color            : #b0b0b0;
        border           : 1px solid #202020;

        &.is-active {
            background-color : transparent;
        }
    }
}

// ==========================================================================
//   Widget Redes Sociais
// ==========================================================================
.redes-widget {
    position      : relative;
    display       : block;

    margin-right  : -4px;
    margin-bottom : -10px;
    margin-left   : -4px;

    text-align    : center;

    .redes-item-widget {
        display       : inline-block;

        margin        : 0 0 10px 0;
        padding-right : 4px;
        padding-left  : 4px;
    }
}

.square-social {
    position   : relative;
    display    : block;

    height     : 50px;
    width      : 50px;

    background : #ddd;
    color      : @white;

    .fa {
        .font-size(30);

        margin-top : 10px;

        color      : @white;
    }
    &:hover {
        opacity     : .7;
        color       : @white;
        text-shadow : 3px 3px rgba(0, 0, 0, .1);
    }
}

//   Small devices (tablets, 768px and up)
// ==========================================================================
@media (min-width:@screen-sm-min) {
    // ==========================================================================
    //   Widget Top 10
    // ==========================================================================
    .open-top-10 {
        .name-heading {
            max-width : 185px;
        }
    }
}

//   Medium devices (desktops, 992px and up)
// ==========================================================================
@media (min-width:@screen-md-min) {
    // ==========================================================================
    //   Widget Top 10
    // ==========================================================================
    .open-top-10 {
        .name-heading {
            max-width : 260px;
        }
    }
}