// ==========================================================================
//   Ads
// ==========================================================================
div.rAds[style] {
	display: none !important;
	height: 400px;
	top: -5000px;
	right: -500px;
	opacity: 0;
}