/*

    Theme Name: Só Baixar
    Theme URI: http://www.foxtemas.com.br
    Description: Template desenvolvido por <a href="http://www.foxtemas.com.br">Fox Temas</a> Templates para WordPress
    Version: 1.2.1
    Author: Fox Temas Team
    Author URI: http://www.foxtemas.com.br

    Número do projeto : 0317

*/
/*

    // ==========================================================================
    //   Contents
    // ==========================================================================

    1. Miscellanous
        - Variables
        - Mixins
        - Misc
    2. Navigation
    3. Header
    4. Posts
    5. Pages
    6. Sidebar
    7. Widgets
    8. Footer
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:100,100italic,400,400italic,700,700italic,500italic,500,300italic,300");
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.collapsing {
  -webkit-transition: none;
  transition: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
img {
  height: auto;
  max-width: 100%;
}
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="submit"]:focus,
select:focus,
textarea:focus {
  outline: none;
}
a,
input {
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.title-heading {
  font-size: 1rem;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
a img.alignright {
  float: right;
  margin: 0px 0 5px 15px;
}
a img.alignnone {
  margin: 0px 0px 0px 0;
}
a img.alignleft {
  float: left;
  margin: 0px 15px 5px 0;
}
a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.alignnone {
  margin: 0px 0px 0px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 0px 0 5px 15px;
}
.alignleft {
  float: left;
  margin: 0px 15px 5px 0;
}
.aligncenter {
  display: block;
  margin: 0px auto 5px auto;
}
.wp-caption {
  max-width: 96%;
  padding: 0px 0px 15px;
  background: #fff;
  text-align: center;
  border: 1px solid #f0f0f0;
}
.wp-caption.alignnone {
  margin: 5px 0px 0px 0;
}
.wp-caption.alignleft {
  margin: 5px 15px 5px 0;
}
.wp-caption.alignright {
  margin: 5px 0 5px 15px;
}
.wp-caption img {
  height: auto;
  width: auto;
  max-width: 98.5%;
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 0 4px 5px;
  font-size: 11px;
  line-height: 17px;
}
body {
  font-family: 'roboto', arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}
body a,
body a:focus,
body a:hover {
  text-decoration: none;
}
.bg-wrap {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  position: relative;
  display: block;
  max-width: 1002px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  border: 1px solid #c3c3c3;
  border-top: none;
}
.left-content {
  margin-top: 10px;
  margin-bottom: 30px;
}
.entry {
  font-size: 0.75rem;
  font-family: 'arial', verdana, serif;
  line-height: 125%;
}
.entry p {
  margin: 0px 0 10px 0;
}
.entry blockquote {
  font-size: 0.75rem;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #c1d6e8;
  line-height: 125%;
  border: none;
}
.entry blockquote p:first-of-type,
.entry blockquote p:first-child {
  margin-top: 0;
}
.entry .more-link {
  font-size: 0.875rem;
  display: inline-block;
  font-weight: 700;
}
.entry input[type="text"],
.entry input[type="date"],
.entry input[type="url"],
.entry input[type="email"],
.entry textarea,
.entry select {
  font-size: 0.875rem;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 300;
  border: 1px solid #5ca1c3;
}
.entry input[type="submit"] {
  font-size: 0.75rem;
  float: right;
  width: 40%;
  padding: 8px 10px;
  background: #202020;
  color: #ffffff;
  border: 1px solid #202020;
}
.entry input[type="submit"]:hover {
  background-color: #000000;
}
.entry textarea {
  resize: vertical;
  height: 100px;
}
.entry div.wpcf7-response-output {
  margin: 20px 0 0 0;
}
.entry span.wpcf7-not-valid-tip {
  font-size: 0.75rem;
  position: relative;
  display: inline-block;
  top: -10px;
  padding: 3px 10px;
  background: red;
  color: #ffffff;
}
.entry a:hover {
  text-decoration: underline;
}
.pagenavi {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.pagenavi .pages {
  font-size: 0.875rem;
  margin-right: 10px;
  font-weight: 300;
}
.pagenavi .page-numbers {
  font-size: 1rem;
  padding: 2px 5px;
  font-weight: 700;
  border: 1px solid #e8e8e8;
}
.pagenavi .page-numbers.current {
  color: #777777;
  border-color: #777777;
}
/* ==========================================================================
   Collapse Séries
   ========================================================================== */
.series-panel {
  margin-top: 20px;
  /* Panel
       ========================================================================== */
}
.series-panel .panel {
  border: none;
  box-shadow: none;
}
/* Heading
   ========================================================================== */
.series-panel-heading {
  font-family: 'roboto', arial, sans-serif;
  font-weight: 500;
  letter-spacing: .050em;
}
.series-panel-heading a {
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  position: relative;
  display: block;
  padding: 10px 15px;
  background: #5ca1c3;
  border: 1px solid #5ca1c3;
}
.series-panel-heading a:hover {
  text-decoration: none;
}
.series-panel-heading a:after {
  content: '\f107';
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
  font-family: 'fontawesome', arial, serif;
}
.series-panel-heading a.collapsed {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  color: #777777;
  border: 1px solid #dfdfdf;
}
.series-panel-heading a.collapsed:after {
  content: '\f106';
}
/* Panel title
   ========================================================================== */
.series-panel-title {
  margin: 0;
  padding: 0;
}
.series-panel-title a {
  color: #ffffff;
}
/* Panel body
   ========================================================================== */
.series-panel-content {
  padding: 15px 15px;
  border: 1px solid #dfdfdf;
  border-top: none;
}
.series-panel-content p:last-of-type,
.series-panel-content p:last-child {
  margin-bottom: 0;
}
/** 
// ==========================================================================
//   SF Menu Essentials
// ==========================================================================
**/
/*** ESSENTIAL STYLES ***/
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li {
  position: relative;
}
.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 999;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
  display: block;
}
.sf-menu a {
  position: relative;
  display: block;
}
.sf-menu ul ul {
  top: 0;
  left: 100%;
}
/** 
// ==========================================================================
//   Navegação Header
// ==========================================================================
**/
#nav-main {
  display: none;
}
#nav-trigger {
  font-size: 1.875rem;
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 100;
  color: #fff;
  line-height: initial;
}
#nav-trigger span {
  cursor: pointer;
}
#nav-trigger span .fa-close {
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: none;
}
#nav-trigger span.open .fa-close {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 200ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 200ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  display: inline-block;
}
#nav-trigger span.open .fa-navicon {
  display: none;
}
#nav-mobile {
  position: absolute;
  z-index: 50;
  overflow: hidden;
  width: 100%;
  background: #4d4e53;
}
#nav-mobile ul {
  position: relative;
  display: none;
  width: initial;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
#nav-mobile ul li {
  position: relative;
  display: block;
  float: none;
  width: initial;
  padding: 6px 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#nav-mobile ul li:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
#nav-mobile ul ul {
  position: initial;
  margin: 0;
  padding: 0;
}
#nav-mobile ul ul li {
  padding: 3px 0 3px 20px;
  background: url(images/sub-menu.png) no-repeat 5px 5px;
  border: none;
}
#nav-mobile ul ul li:after {
  display: none;
}
#nav-mobile ul ul li a {
  color: #ccc;
}
#nav-mobile a {
  display: initial;
  color: #fff;
}
#nav-mobile .megamenu > .sub-menu {
  margin-top: 3px;
}
#nav-mobile .megamenu > ul {
  overflow: hidden;
}
#nav-mobile .megamenu > ul > li {
  float: left;
  width: 100%;
  background: none;
  padding-left: 0;
  z-index: 100;
}
#nav-mobile .megamenu > ul > li:before {
  content: '';
  clear: both;
  display: block;
  position: relative;
  float: none;
}
#nav-mobile .megamenu > ul > li a {
  color: #ccc;
}
#nav-mobile .megamenu > ul > li ul {
  margin-bottom: 5px;
}
#nav-mobile .megamenu > ul > li ul li {
  margin: 0;
  padding: 3px 0 3px 0px;
  background: none;
  white-space: nowrap;
}
#nav-mobile .megamenu > ul > li ul li:first-of-type {
  margin-top: 3px;
}
#nav-mobile .megamenu.col-2 > ul {
  width: 100%;
}
#nav-mobile .megamenu.col-2 li {
  width: 50%;
}
#nav-mobile .megamenu.col-2 li li {
  width: 100%;
}
#nav-mobile .megamenu.col-3 > ul {
  width: 100%;
}
#nav-mobile .megamenu.col-3 li {
  width: 33.333333%;
}
#nav-mobile .megamenu.col-4 > ul {
  width: 100%;
}
#nav-mobile .megamenu.col-4 li {
  width: 25%;
}
@media (min-width: 992px) {
  #nav-trigger {
    display: none;
  }
  #nav-main {
    display: block;
  }
  .navigation-top a {
    color: #ffffff;
  }
  .navigation-top > ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
  }
  .navigation-top > ul > li {
    font-size: 0.75rem;
    position: relative;
    float: left;
    margin: 0 0px 0 0;
    padding: 10px 7px 10px 7px;
    text-transform: uppercase;
    border-right: 1px solid #585858;
    list-style: none;
  }
  .navigation-top > ul > li a {
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
  }
  .navigation-top > ul > li:first-of-type,
  .navigation-top > ul > li:first-child {
    padding-left: 0;
  }
  .navigation-top > ul > li:last-of-type,
  .navigation-top > ul > li:last-child {
    padding-right: 0;
    border-right: none;
  }
  .navigation-top > ul > li.menu-item-has-children > a:after {
    content: '\f107';
    margin-left: 5px;
    font-family: 'fontawesome', arial, serif;
  }
  .navigation-top > ul > li:hover > a {
    padding-bottom: 5px;
    border-bottom: 2px solid #0070d6;
  }
  .navigation-top > ul > li:hover > ul {
    display: block;
  }
  .navigation-top > ul > li > ul {
    position: absolute;
    display: none;
    right: -1000%;
    left: -1000%;
    z-index: 100;
    width: 260px;
    margin: auto;
    margin-top: 15px;
    padding: 10px 0;
    background: #ffffff;
    border: 1px solid #ddd;
  }
  .navigation-top > ul > li > ul:before {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    right: 0;
    left: 0;
    height: 10px;
    width: 100%;
    margin: auto;
    background: url("images/arrow-up-menu.png") no-repeat center bottom;
  }
  .navigation-top ul ul {
    font-size: 0.875rem;
    padding: 0;
    font-family: 'arial', verdana, serif;
    list-style: none;
  }
  .navigation-top ul ul li {
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-transform: none;
    list-style: none;
  }
  .navigation-top ul ul li a {
    display: block;
    padding: 7px 15px;
    color: #666;
  }
  .navigation-top ul ul li a:hover {
    background-color: #f3f6f6;
  }
  .navigation-top .megamenu > ul {
    right: -1000%;
    left: -1000%;
    width: 260px;
    margin: auto;
    margin-top: 15px;
  }
  .navigation-top .megamenu > ul:before {
    content: '';
    position: absolute;
    display: block;
    top: -10px;
    right: 0;
    left: 0;
    height: 10px;
    width: 100%;
    margin: auto;
    background: url("images/arrow-up-menu.png") no-repeat center bottom;
  }
  .navigation-top .megamenu li {
    float: left;
    width: 100%;
  }
  .navigation-top .megamenu li li {
    width: 100% !important;
  }
  .navigation-top .megamenu.col-2 > ul {
    width: 337px;
  }
  .navigation-top .megamenu.col-2 li {
    width: 50%;
  }
  .navigation-top .megamenu.col-3 > ul {
    width: 452px;
  }
  .navigation-top .megamenu.col-3 li {
    width: 33.333333%;
  }
  .navigation-top .megamenu.col-4 > ul {
    width: 602px;
  }
  .navigation-top .megamenu.col-4 li {
    width: 25%;
  }
}
.header {
  position: relative;
  display: block;
  z-index: 10;
  height: 84px;
  padding-top: 15px;
  background: #262626;
  background: -moz-linear-gradient(top, #262626 0%, #4d4d4d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #4d4d4d));
  background: -webkit-linear-gradient(top, #262626 0%, #4d4d4d 100%);
  background: -o-linear-gradient(top, #262626 0%, #4d4d4d 100%);
  background: -ms-linear-gradient(top, #262626 0%, #4d4d4d 100%);
  background: linear-gradient(to bottom, #262626 0%, #4d4d4d 100%);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.13);
}
.header .container {
  position: relative;
}
.logo-header {
  position: relative;
  display: block;
  left: -17.5px;
  max-width: 200px;
  margin: auto;
}
.bg-breadcrumb {
  position: relative;
  display: block;
  max-width: 1002px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ffffff;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}
.breadcrumb {
  position: relative;
  display: block;
  padding: 5px 0;
  font-family: 'arial', sans-serif;
}
.breadcrumb a {
  font-weight: 700;
  color: #333333;
}
.section-ads-header {
  position: relative;
  display: block;
}
.bg-ads {
  position: relative;
  display: block;
  max-width: 1002px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #e8e8e8;
  border-right: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}
.ads-header {
  position: relative;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    padding-top: 10px;
  }
  .logo-header {
    float: left;
    left: none;
    max-width: none;
    margin: auto;
    margin-right: 15px;
  }
}
.article-default {
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.article-default:last-of-type,
.article-default:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.article-default:last-of-type .footer-article,
.article-default:last-child .footer-article {
  padding-bottom: 0;
}
.article-single {
  margin-bottom: 20px;
}
.header-article {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.name-article {
  font-size: 1.25rem;
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 700;
  color: #777777;
}
.name-article a {
  color: #777777;
}
.name-article a:hover {
  color: #5ca1c3;
}
.infos-article {
  position: relative;
  display: block;
}
.infos-article .rating-article {
  font-size: 0.6875rem;
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
}
.infos-article .categories-article {
  font-size: 0.6875rem;
  position: relative;
  display: block;
  float: left;
}
.infos-article .categories-article .fa {
  margin-right: 3px;
  color: #8f8f8f;
}
.infos-article .categories-article a {
  color: #5ca1c3;
}
.infos-article .categories-article a:hover {
  color: #387ab2;
}
.categories-single {
  font-size: 0.6875rem;
  margin-top: 20px;
}
.categories-single .fa {
  color: #8f8f8f;
}
.footer-article {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-bottom: 20px;
}
.sharer-article {
  position: relative;
  display: block;
}
.sharer-article .text-sharer-article {
  font-size: 0.875rem;
  position: relative;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  text-align: center;
}
.sharer-article .text-sharer-article .fa {
  color: #8f8f8f;
}
.sharer-article .buttons-sharer-article {
  position: relative;
  display: block;
  text-align: center;
}
.sharer-article .buttons-sharer-article .btn-share {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 0px;
}
.footer-article-single {
  font-size: 1rem;
  margin-top: 10px;
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.footer-article-single a {
  text-decoration: underline;
}
.form-relatorio {
  margin-top: 10px;
  display: none;
}
.form-relatorio input[type="text"],
.form-relatorio input[type="date"],
.form-relatorio input[type="url"],
.form-relatorio input[type="email"],
.form-relatorio textarea,
.form-relatorio select {
  width: 100%;
  border: 1px solid #5ca1c3;
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.form-relatorio input[type="submit"] {
  font-size: 0.75rem;
  float: right;
  width: 40%;
  padding: 8px 10px;
  background: #202020;
  color: #ffffff;
  border: 1px solid #202020;
}
.form-relatorio input[type="submit"]:hover {
  background-color: #000000;
}
.form-relatorio textarea {
  height: 100px;
  resize: vertical;
}
.form-relatorio div.wpcf7-response-output {
  margin: 20px 0 0 0;
}
.form-relatorio span.wpcf7-not-valid-tip {
  font-size: 0.75rem;
  background: red;
  color: #ffffff;
  display: inline-block;
  padding: 3px 10px;
  top: -10px;
  position: relative;
}
.ads-related {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  text-align: center;
}
.relacionados {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.thumb-related {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100px;
  background: #e8e8e8;
  text-align: center;
}
.thumb-related img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  margin: auto;
}
.title-related {
  font-size: 0.875rem;
  position: relative;
  display: block;
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 480px) {
  .sharer-article .text-sharer-article {
    float: left;
    margin-right: 10px;
  }
  .sharer-article .buttons-sharer-article {
    float: left;
  }
  .thumb-related {
    height: 125px;
  }
}
.sidebar {
  position: relative;
  display: block;
  max-width: 300px;
  margin: auto;
}
.sidebar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar .widget {
  margin-bottom: 30px;
}
.sidebar-small {
  position: relative;
  display: block;
  max-width: 300px;
  margin: auto;
}
.sidebar-footer {
  position: relative;
  display: block;
  max-width: 300px;
  margin: auto;
}
.sidebar-footer > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-footer > ul > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-footer .widgettitle {
  font-size: 1.125rem;
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 300;
  color: #ffffff;
}
.sidebar-footer .widgettitle .fa {
  font-size: 1.75rem;
  vertical-align: middle;
  margin-top: -5px;
}
.sidebar-footer .widget {
  margin-bottom: 30px;
}
.sidebar-footer-last .widget:last-of-type,
.sidebar-footer-last .widget:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .sidebar-footer .widget:last-of-type,
  .sidebar-footer .widget:last-child {
    margin-bottom: 0;
  }
}
.screen-reader-text {
  display: none;
}
.widgettitle {
  font-size: 1rem;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
  color: #333333;
}
.widgettitle .fa {
  font-size: 1.75rem;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 3px;
}
.sidebar-content {
  font-size: 0.75rem;
  line-height: 14px;
}
.sidebar-content select {
  font-size: 0.75rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #e8e8e8;
}
.sidebar-content input[type="text"] {
  font-size: 0.75rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #e8e8e8;
}
.sidebar-content input[type="submit"] {
  display: block;
  min-width: 100px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  background: #5ca1c3;
  color: #ffffff;
  border: none;
}
.sidebar-content input[type="submit"]:hover {
  background-color: #387ab2;
}
.sidebar-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-content ul li {
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.sidebar-content ul li:before {
  content: '';
  display: inline-block;
  height: 9px;
  width: 9px;
  margin-right: 4px;
  background: url('images/arrow.png') no-repeat center top;
}
.sidebar-content ul li ul {
  margin-top: 4px;
  margin-left: 13px;
}
.sidebar-footer .sidebar-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-footer .sidebar-content ul li {
  font-size: 0.875rem;
  position: relative;
  margin: 0;
  padding: 5px 0 7px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
}
.sidebar-footer .sidebar-content ul li:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.sidebar-footer .sidebar-content ul li:before {
  display: none;
}
.widget_feedburner .sidebar-content {
  font-size: 0.75rem;
}
.form-feedburner {
  position: relative;
  display: block;
  margin-top: 10px;
}
.form-feedburner .campo_feed {
  font-size: 0.75rem;
  overflow: hidden;
  width: 60%;
  padding: 8px 10px;
  background: #ffffff;
  color: #777777;
  border: 1px solid #dfdfdf;
  border-right: none;
}
.form-feedburner .botao_feed {
  font-size: 0.75rem;
  float: right;
  width: 40%;
  padding: 8px 10px;
  background: #202020;
  color: #ffffff;
  border: 1px solid #202020;
}
.form-feedburner .botao_feed:hover {
  background-color: #000000;
}
#wp-calendar {
  width: 100%;
  text-align: center;
}
#wp-calendar caption {
  width: 100%;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}
#wp-calendar thead tr th {
  padding: 10px;
  text-align: center;
}
#wp-calendar tbody tr td {
  padding: 10px;
}
.tagcloud a {
  font-size: 0.75rem !important;
  display: inline-block;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 5px 10px;
  background: #e8e8e8;
}
.searchform-foxtemas {
  position: relative;
  display: block;
}
.searchform-foxtemas .pesquisa {
  font-size: 0.875rem;
  height: 47px;
  width: 100%;
  padding: 10px;
  padding-right: 70px;
  font-style: italic;
  font-weight: 300;
  color: #777777;
  border: 1px solid #c3c3c3;
}
.searchform-foxtemas .pesquisa:focus {
  color: #333333;
}
.searchform-foxtemas .button-search {
  font-size: 1.625rem;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 47px;
  width: 60px;
  background: #454545;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
}
.searchform-foxtemas .button-search .fa {
  position: relative;
  top: -2px;
  line-height: 20px;
}
.searchform-foxtemas .button-search:hover {
  background-color: #000000;
}
.widget-footer .pesquisa {
  border: none;
}
.item-top-10 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  background: none;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: none;
}
.item-top-10:first-of-type,
.item-top-10:first-child {
  padding-top: 0;
}
.open-top-10 .num-top-10 {
  font-size: 1rem;
  display: inline-block;
  float: left;
  height: 26px;
  width: 26px;
  margin-right: 10px;
  padding-top: 1px;
  font-weight: 700;
  color: #387ab2;
  text-align: center;
  border: 1px solid #eaeaea;
}
.open-top-10 .name-heading {
  font-size: 0.875rem;
  display: none;
  max-width: 260px;
  margin-top: 3px;
  font-weight: 700;
  color: #387ab2;
}
.open-top-10.collapsed {
  display: block;
}
.open-top-10.collapsed .num-top-10 {
  color: #484848;
}
.open-top-10.collapsed .name-heading {
  display: inline-block;
}
.expand-content-top-10 {
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.expand-content-top-10.in {
  opacity: 1;
}
.content-top-10 {
  position: relative;
  margin-top: -26px;
  margin-left: 35px;
  padding-bottom: 10px;
}
.thumb-top-10 {
  float: left;
  margin-right: 10px;
  idth: 75px;
}
.thumb-top-10 img {
  height: auto;
  width: 75px;
}
.details-top-10 {
  overflow: hidden;
}
.details-top-10 .name-top-10 {
  margin: 5px 0 0 0;
  padding: 0;
}
.details-top-10 .cats-top-10 {
  font-size: 0.6875rem;
  position: relative;
  display: block;
  padding-bottom: 20px;
  color: #737373;
}
.details-top-10 .show-details-top-10 {
  font-size: 0.6875rem;
  position: absolute;
  bottom: 10px;
  text-transform: uppercase;
}
.widget-footer .item-top-10 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.widget-footer .item-top-10:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.widget-footer .open-top-10 .num-top-10 {
  background-color: #202020;
  color: #ffffff;
  border: 1px solid #121212;
}
.widget-footer .open-top-10 .name-heading {
  color: #b0b0b0;
}
.widget-footer .open-top-10.collapsed .num-top-10 {
  color: #777777;
}
.item-destaque-widget {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.item-destaque-widget img {
  height: auto;
  width: 100%;
}
.item-destaque-widget:last-child,
.item-destaque-widget:last-of-type {
  margin-bottom: 0;
}
.item-destaque-widget .name-destaque-widget {
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  display: block;
  padding: 4px 10px;
  background: #222222;
  color: #ffffff;
}
.item-destaque-widget .name-destaque-widget a {
  position: relative;
  display: block;
  color: #ffffff;
}
.item-destaque-widget:hover .name-destaque-widget {
  background-color: #5ca1c3;
}
.group:after,
.tabBlock-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.unstyledList,
.tabBlock-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabBlock {
  margin: 0;
}
.tabBlock-tab {
  font-size: 0.75rem;
  position: relative;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #387ab2;
  border: 1px solid #f2f2f2;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.tabBlock-tab.is-active {
  position: relative;
  z-index: 1;
  background-color: transparent;
  color: #387ab2;
}
.tabBlock-content {
  padding-top: 10px;
}
.tabBlock-pane > :last-child {
  margin-bottom: 0;
}
.widget-footer .tabBlock-tab {
  background-color: #202020;
  color: #b0b0b0;
  border: 1px solid #202020;
}
.widget-footer .tabBlock-tab.is-active {
  background-color: transparent;
}
.redes-widget {
  position: relative;
  display: block;
  margin-right: -4px;
  margin-bottom: -10px;
  margin-left: -4px;
  text-align: center;
}
.redes-widget .redes-item-widget {
  display: inline-block;
  margin: 0 0 10px 0;
  padding-right: 4px;
  padding-left: 4px;
}
.square-social {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: #ddd;
  color: #ffffff;
}
.square-social .fa {
  font-size: 1.875rem;
  margin-top: 10px;
  color: #ffffff;
}
.square-social:hover {
  opacity: .7;
  color: #ffffff;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .open-top-10 .name-heading {
    max-width: 185px;
  }
}
@media (min-width: 992px) {
  .open-top-10 .name-heading {
    max-width: 260px;
  }
}
.footer {
  position: relative;
  display: block;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #333333;
  color: #b0b0b0;
}
.footer a {
  color: #b0b0b0;
}
.footer a:hover {
  color: #ffffff;
}
.copyright {
  font-size: 0.875rem;
  padding: 15px 0;
  background: #202020;
  color: #ffffff;
}
.copyright a {
  color: #ffffff;
}
.copyright a:hover {
  color: #5ca1c3;
}
.copyright .copy-text {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
.copyright .dev-theme {
  font-size: 0.75rem;
  position: relative;
  display: block;
  color: #575757;
  text-align: center;
}
@media (min-width: 992px) {
  .copyright .copy-text {
    float: left;
    margin-bottom: 0;
    text-align: left;
  }
  .copyright .dev-theme {
    float: right;
    text-align: left;
  }
}
